body {
  position: relative; /*Временно для верстки*/
  padding: 0;
  margin: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}
/*
body:after {
  content: "";

  position: absolute;
  display: block;
  width: 1200px;
  height: 2249px;
  top: 0;
  left: 352px;
  opacity: 0.5;
  background: url("../img/technomart-catalog.png");
}
*/

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}


/* HEADER */
.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #f4f7f9;
}

.header-top {
  width: 100%;
  margin-bottom: 46px;

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.header-top .container {
  display: flex;
}

.header-top a {
  color: #ffffff;
}

.main-header-logo {
  height: 42px;
  width:220px;
  display: flex;

  background-color: #ee3643;
  box-shadow: #b52933 0 5px;
}

.main-header-logo:hover,
.main-header-logo:focus {
  background-color: #ca2c37;
}

.main-header-logo:active {
  background-color: #ba2732;
}

.main-header-logo img {
  width: 109px;
  height: 19px;
  margin-left: 55px;
  margin-top: 13px;
}

.search-form {
  position: relative;
  display: flex;
  flex-grow: 1;
  height: 42px;
}
.search-form label:before {
  content: "";

  position: absolute;
  display: block;
  width: 17px;
  height: 17px;
  top: 12px;
  left: 17px;

  opacity: 0.3;
  background: url("../img/icon-search.svg") no-repeat;
}



.search-form input[type="text"] {
  padding: 12px 10px 12px 48px;
  flex-grow: 1;
  margin: 0;
  height: 18px;

  font: inherit;
  color: #ffffff;

  border: none;
  background-color: #293449;
}

.search-form input[type="text"]::placeholder {
  color: #ffffff;
}

.search-form input[type="text"]:hover {
  background-color: #212a3a;
}

.search-form input[type="text"]:focus {
  color: #000000;

  background-color: #ffffff;
  outline: none;
}

.search-form input[type="text"]:focus ~ label:before {
  opacity: 1;
  background: url("../img/icon-search-active.svg") no-repeat;
}

.bookmark-button {
  position: relative;
  box-sizing: border-box;
  padding: 12px 10px 12px 44px;
  min-width: 150px;
}

.bookmark-button:before {
  content: "";

  position: absolute;
  display: block;
  width: 14px;
  height: 16px;
  top: 12px;
  left: 17px;

  opacity: 0.3;
  background: url("../img/icon-bookmark.svg") no-repeat;
}

.cart-button {
  position: relative;
  box-sizing: border-box;
  padding: 12px 10px 12px 50px;
  min-width: 150px;
}

.header-top .cart-not-empty {
  background-color: #ee3643;
}

.header-top .cart-not-empty:focus,
.header-top .cart-not-empty:hover {
  background-color: #ca2c37;
}

.header-top .cart-not-empty:active {
  background-color: #ba2732;
}

.cart-button:before {
  content: "";

  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  top: 12px;
  left: 18px;

  opacity: 0.3;
  background: url("../img/icon-cart.svg") no-repeat;
}

.search-form:hover label:before,
.bookmark-button:hover:before,
.cart-button:hover:before,
.bookmark-button:focus:before,
.cart-button:focus:before {
  opacity: 1;
}

.bookmark-button:active:before,
.cart-button:active:before {
  opacity: 0.5;
}

.bookmark-button:hover,
.bookmark-button:focus,
.cart-button:hover,
.cart-button:focus {
  background-color: #212a3a;
}

.bookmark-button:active,
.cart-button:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}

.offer-button {
  box-sizing: border-box;
  padding: 12px 22px 12px 20px;
  min-width: 150px;
  background-color: #63a63e;
}

.offer-button:hover,
.offer-button:focus {
  background-color: #5fbb2d;
}

.offer-button:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #518534;
}

.bottom-header {
  margin-bottom: 38px;
}

.bottom-header .container {
  display: flex;
  justify-content: space-between;
}

.bottom-header h1,
.bottom-header .site-heading {
  width: 197px;
  margin: 3px 71px 0 53px;

  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;

  color: #ee3643;
}

.header-address {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: auto;

  font-style: normal;
  color: #32425c;
}

.header-address .phone {
  position: relative;
  box-sizing: border-box;
  padding: 9px 10px 9px 37px;
  width: 270px;


  color: #e9292a;
  font-size: 21px;
  line-height: 21px;
  letter-spacing: 0.42px;
  text-align: center;

  border: solid 3px #ffffff;
}

.header-address .phone:before {
  content: "";

  position: absolute;
  display: block;
  width: 19px;
  height: 19px;
  top: 10px;
  left: 11px;

  background: url("../img/icon-phone.svg") no-repeat;
}

.header-address p {
  margin: 0;
  margin-top: 4px;
}

.user-navigation,
.site-navigation {
  margin: 0;
  padding: 0;
  display: flex;

  list-style: none;
}

.user-navigation {
  margin-bottom: 29px;
}

.login-button {
  position: relative;
  box-sizing: border-box;
  padding: 12px 22px 12px 48px;
  min-width: 121px;
  margin-right: 10px;
}

.login-button:before {
  content: "";

  position: absolute;
  display: block;
  width: 20px;
  height: 17px;
  top: 14px;
  left: 14px;

  background: url("../img/icon-login.svg") no-repeat;
}

.login-button:focus:before,
.login-button:hover:before {
  background: url("../img/icon-login-hover.svg") no-repeat;
}

.login-button:active:before {
  background: url("../img/icon-login.svg") no-repeat;
}

.registration-button {
  box-sizing: border-box;
  padding: 12px 24px 12px 24px;
  min-width: 150px;
  height: 45px;
}

.login-button,
.registration-button,
.profile-button {
  display: block;

  color: #000000;
  font-size: 21px;
  line-height: 21px;

  background-color: #ffffff;
}

.login-button:hover,
.login-button:focus,
.registration-button:hover,
.registration-button:focus {
  color: #ee3643;
}

.login-button:active,
.registration-button:active,
.profile-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.profile-wrapper {
  position: relative;
  margin-bottom: 5px;
}

.profile-wrapper .profile-button {
  position: relative;
  padding: 12px 34px 12px 46px;
  margin-right: 33px;
}

.profile-wrapper .profile-button:before {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 18px;
  top: 14px;
  left: 13px;
  background: url("../img/icon-user.svg") no-repeat;
}

.profile-wrapper .profile-button:focus:before,
.profile-wrapper .profile-button:hover:before {
  background: url("../img/icon-user-hover.svg") no-repeat;
}

.profile-wrapper .profile-button:active:before {
  background: url("../img/icon-user.svg") no-repeat;
}

.profile-wrapper .exit-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 33px;
  height: 45px;
  background-color: #ffffff;
}

.profile-wrapper .exit-button:before {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 17px;
  top: 14px;
  left: 2px;
  background: url("../img/icon-logout.svg") no-repeat;
}

.profile-wrapper .exit-button:focus:before,
.profile-wrapper .exit-button:hover:before {
  background: url("../img/icon-logout-hover.svg") no-repeat;
}

.profile-wrapper .exit-button:active:before {
  background: url("../img/icon-logout.svg") no-repeat;
}

.user-menu-list {
  display: flex;

  margin: 0;
  margin-left: 17px;
  padding: 0;

  color: #32425c;
}

.user-menu-item:first-child {
  margin-right: 30px;
  list-style: none;
}
.user-menu-item:nth-child(2) {
  padding-left: 2px;
}

.user-menu-item a {
  color: #32425c;
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
}

.user-menu-item a:hover,
.user-menu-item a:focus {
  color: #ee3643;
}

.user-menu-item a:active {
  color: rgba(50, 66, 92, 0.3);
}

.main-navigation {
  margin-bottom: 60px;

  color: #ffffff;

  background-color: #32425c;
}

.site-navigation {
  display: flex;
}

.site-navigation li {
  display: flex;
}

.site-navigation a {
  padding-top: 20px;
  padding-bottom: 23px;

  color: #ffffff;
  font-size: 17px;
  line-height: 17px;
  vertical-align: center;

  background-color: #32425c;
  box-shadow: inset #293449 0 -5px;
}

.site-navigation li:nth-child(1) a {
  padding-left: 52px;
  padding-right: 32px;
}

.site-navigation li:nth-child(2) a {
  padding-left: 32px;
  padding-right: 29px;
}

.site-navigation li:nth-child(3) a {
  padding-left: 30px;
  padding-right: 30px;
}

.site-navigation li:nth-child(4) a {
  padding-left: 30px;
  padding-right: 30px;
}

.site-navigation li:nth-child(5) a {
  padding-left: 29px;
  padding-right: 31px;
}

.site-navigation li:nth-child(6) a {
  padding-left: 31px;
  padding-right: 31px;
}

.site-navigation li:nth-child(7) a {
  padding-left: 32px;
  padding-right: 54px;
}

.site-navigation li a:hover,
.site-navigation li a:focus {
  background-color: #293449;
}

.site-navigation li a:active {
  background-color: #1d2739;
  box-shadow: none;
}

/* MAIN PAGE */
.cat-and-offers {
  margin-top: 59px;
  margin-bottom: 53px;
}

.categories {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: stretch;

  list-style: none;
}

.category-item {
  position: relative;
  width: 300px;
  min-height: 123px;
}

.category-item:nth-child(1) {
  background-color: #ffbf47;
}

.category-item:nth-child(1):after {
  content: "";

  position: absolute;
  display: block;
  width: 44px;
  height: 65px;
  top: 31px;
  left:213px;

  background: url("../img/icon-materials.svg") no-repeat;
}

.category-item:nth-child(2) {
  background-color: #3bbce3;
}

.category-item:nth-child(2):after {
  content: "";

  position: absolute;
  display: block;
  width: 75px;
  height: 61px;
  top: 33px;
  left:197px;

  background: url("../img/icon-instruments.svg") no-repeat;
}

.category-item:nth-child(3) {
  background-color: #dc91d8;
}

.category-item:nth-child(3):after {
  content: "";

  position: absolute;
  display: block;
  width: 78px;
  height: 62px;
  top: 31px;
  left:191px;

  background: url("../img/icon-technics.svg") no-repeat;
}

.offer-item h3,
.category-item h3 {
  margin-left: 22px;
  margin-bottom: 15px;

  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
}

.cat-button {
  display: inline-block;
  min-width: 135px;
  padding: 8px 0 6px 0;
  margin-left: 25px;

  text-align: center;
  vertical-align: center;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;

  border-radius: 3px;
  background-color: rgba(0,0,0,0.1);
}

.cat-button:hover,
.cat-button:focus {
  background-color: rgba(0,0,0,0.2);
}

.cat-button:active {
  background-color: rgba(0,0,0,0.3);
}

.category-item:last-child .cat-button,
.offer-item .cat-button {
  margin-left: 23px;
}

.adv-offers-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.adv-slider {
  display: flex;
  width: 620px;
}

.adv-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-grow: 1;
}

.adv-item:nth-child(1) {
  background: url("../img/slide-image2.jpg") no-repeat #000000;
}

.adv-item:nth-child(2) {
  background: url("../img/slide-image1.jpg") no-repeat #000000;
}

.adv-item h3 {
  margin: 0;
  margin-left: 24px;
  margin-top: 29px;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.adv-item p {
  margin: 0;
  margin-left: 25px;
  margin-top: 8px;
  font-size: 18px;
  color: #ffffff;
}

.button_adv-slider {
  padding-right: 46px;
  padding-left: 50px;
  margin: auto 398px 22px 25px;
}

.special-offers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 300px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.offer-item {
  position: relative;

  width: 300px;
  min-height: 123px;
}

.offer-item:nth-child(1) {
  margin-bottom: 20px;

  background-color: #8ed78f;
}

.offer-item:nth-child(1):after {
  content: "";

  position: absolute;
  display: block;
  width: 59px;
  height: 72px;
  top: 26px;
  left:196px;

  background: url("../img/icon-discounts.svg") no-repeat;
}

.offer-item:nth-child(2) {
  background-color: #ffc047;
}

.offer-item:nth-child(2):after {
  content: "";

  position: absolute;
  display: block;
  width: 78px;
  height: 63px;
  top: 32px;
  left:191px;

  background: url("../img/icon-delivery.svg") no-repeat;
}

.section-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  background-color: #f9f5f0;
}

.section-header h2 {
  margin: 0;
  padding-left: 28px;
  padding-top: 33px;
  padding-bottom: 30px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
  color: #32425c;
}

.button_section {
  box-sizing: border-box;
  min-width: 253px;
  margin: 25px 24px 26px auto;
  padding-left: 10px;
  padding-right: 10px;

  text-align: center;
}

.popular-products {
  margin-bottom: 21px;
}

.pop-products-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}



.popular-manufacturer {
  margin-bottom: 85px;
}

.pop-manufacturer-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pop-manufacturer-item {
  position: relative;
  display: flex;
  width: 218px;
  min-height: 143px;
  margin-right: 20px;

  border: solid 1px #eaeaea;
}

.pop-manufacturer-item:hover,
.pop-manufacturer-item:focus {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
  border-color: #ffffff;
}

.pop-manufacturer-item:active {
  box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
  border-color: #ffffff;
}

.pop-manufacturer-item:active img {
  opacity: 0.3;
}

.pop-manufacturer-item:nth-child(4n) {
  margin-right: 0;
}

.pop-manufacturer-item:nth-child(4n+1) {
  margin-bottom: 20px;
}

.pop-manufacturer-item:nth-last-child(-n+4) {
  margin-bottom: 0;
}

.pop-manufacturer-item a {
  flex-grow: 1;
}

.pop-manufacturer-item:nth-child(1) a {
  padding-top: 52px;
  padding-left: 46px;
}

.pop-manufacturer-item:nth-child(2) a {
  padding-top: 49px;
  padding-left: 47px;
}

.pop-manufacturer-item:nth-child(3) a {
  padding-top: 47px;
  padding-left: 36px;
}

.pop-manufacturer-item:nth-child(4) a {
  padding-top: 20px;
  padding-left: 8px;
}

.pop-manufacturer-item:nth-child(5) a {
  padding-top: 57px;
  padding-left: 27px;
}

.pop-manufacturer-item:nth-child(6) a {
  padding-top: 34px;
  padding-left: 47px;
}

.pop-manufacturer-item:nth-child(7) a {
  padding-top: 22px;
  padding-left: 34px;
}

.pop-manufacturer-item:nth-child(8) a {
  padding-top: 33px;
  padding-left: 9px;
}

.services {
  display: flex;
  background-color: #f4f7f9;
}

.container-services {
  display: flex;
  flex-direction: column;

  width: 950px;
  margin: 0 auto;
  padding: 0 0 0 10px;
}

.container-services .wrapper:first-child {
  width: 400px;
  margin-top: 68px;
  margin-bottom: 22px;
}
.container-services .wrapper:nth-child(2) {
  display: flex;

  margin-bottom: 98px;
}

.services-menu {
  padding-top: 47px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services-menu:after {
  content: "";

  position: absolute;
  display: block;
  width: 468px;
  height: 261px;
  top: 0;
  left: 230px;


  background: url("../img/shadow.png") no-repeat;
}

.services-slider {
  width: 240px;
  min-height: 62px;
  box-sizing: border-box;
  padding: 16px 22px;

  font-size: 21px;
  font-weight: 700;
  color: #ffffff;

  background-color: #32425c;
  border-bottom: 1px solid #293449;
  border-top: 1px solid #405069;
}

.services-slider:hover,
.services-slider:focus {
  background-color: #293449;
}

.services-menu .active {
  color: #32425c;

  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
}

.services h2 {
  margin: 0;
  margin-bottom: 29px;

  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.services p {
  margin: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.85;
}

.services-items {
  flex-grow: 1;
}

.services-item {
  position: relative;

  margin-left: 80px;
  margin-top: 51px;
}

.services-items .delivery {
  width: 278px;
}

.services-items .delivery:after {
  content: "";

  position: absolute;
  display: block;
  width: 468px;
  height: 261px;
  top: 19px;
  left: 151px;


  background: url("../img/services-delivery.png") no-repeat;
}

.services-items .guarantee {
  width: 377px;
}

.services-items .guarantee:after {
  content: "";

  position: absolute;
  display: block;
  width: 389px;
  height: 283px;
  top: -3px;
  left: 239px;

  background: url("../img/services-guarantee.png") no-repeat;
}

.services-items .credit {
  width: 300px;
}

.services-items .credit:after {
  content: "";

  position: absolute;
  display: block;
  width: 465px;
  height: 285px;
  top: -5px;
  left: 165px;

  background: url("../img/services-credit.png") no-repeat;
}

.button_credit {
  display: inline-block;
  padding: 45px;
  margin-top: 26px;

  vertical-align: center;
}

.services-item h3 {
  position: relative;
  z-index: 1;
  margin: 0;
  margin-bottom: 31px;

  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;
}

.services-item p {
  position: relative;
  z-index: 1;
}

.index-columns {
  color: #000000;

  background-color: #ffffff;
}

.index-columns .container {
  display: flex;
  justify-content: space-between;
  margin-top: 79px;
  margin-bottom: 86px;
}

.about-company {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 540px;
}

.contacts {
  display: flex;
  flex-direction: column;
}

.about-company h2,
.contacts h2 {
  margin: 0;
  margin-bottom: 26px;

  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.about-company p,
.contacts p {
  margin: 0;


  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.85;
}

.about-company p {
  margin-bottom: 24px;
}

.about-company p:last-of-type {
  margin-bottom: 21px;
  width: 390px;
}

.contacts p {
  width: 180px;
  margin-bottom: 31px;
}

.about-company ul {
  margin: 0;
  padding: 0;
  padding-left: 36px;

  list-style: none;
}

.about-company li {
  position: relative;
  margin-bottom: 20px;

  font-size: 18px;
  line-height: 20px;
}

.about-company li:last-of-type {
  margin-bottom: 36px;
}

.about-company li:before {
  content: "";

  position: absolute;
  display: block;
  width: 25px;
  height: 2px;
  top: 9px;
  left: -36px;

  background-color: #ee3643;
}

.about-company .button {
  padding-left: 41px;
  padding-right: 40px;
  margin-right: 319px;
}

.contacts .map {
  margin-bottom: 32px;
}

.contacts .button {
  padding-left: 64px;
  padding-right: 59px;
}


.button {
  padding-top: 11px;
  padding-bottom: 9px;

  font: inherit;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;

  background-color: #ee3643;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

/* INNER PAGE */
.breadcrumbs {
  display: flex;
  align-items: center;
  margin: 0;
  margin-top: 22px;
  margin-bottom: 19px;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  list-style: none;
}

.breadcrumbs li {
  position: relative;
}

.breadcrumbs li:not(:last-child):after {
  content: "";

  position: absolute;
  display: block;
  width: 14px;
  height: 12px;
  top: 2px;
  right: -32px;

  background: url("../img/icon-right-small.svg") no-repeat;
}

.breadcrumbs li:first-child:after {
  top: -7px;
  right: -42px;
}

.breadcrumbs li:nth-child(2) {
  margin-left: 13px;
}

.breadcrumbs li:not(:last-child) {
  margin-right: 41px;
}

.breadcrumbs a {
  color: #000000;
}

.breadcrumbs li:first-child a {
  position: relative;
  display: block;
}

.breadcrumbs li:first-child a:after {
  content: "";

  position: absolute;
  display: block;
  width: 14px;
  height: 12px;
  top: -7px;
  left: -2px;

  background: url("../img/icon-home.svg") no-repeat;
}

.page-title {
  margin: 0;
  padding: 30px 0 29px 28px;
  margin-bottom: 20px;

  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;

  background-color: #f2f6f8;
}

.catalog-wrapper {
  display: flex;
}

.filters {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 220px;
  margin-right: 20px;

  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}



.filters h2 {
  margin: 0;
  margin-bottom: 14px;
  padding: 7px 0 7px 19px;

  font-size: 13px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;

  background-color: #f7f3ec;
  border-radius: 3px;
}


.product-filter:only-child {
  display: block;
}

.product-filter fieldset {
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;

  border: none;
}

.product-filter fieldset:not(:first-child):before {
  content: "";

  position: absolute;
  display: block;
  width: 220px;
  height: 1px;
  top: -20px;


  background-color: #e5e5e5;
}

.product-filter fieldset:nth-child(3):before {
  top: -21px;
}

.product-filter .fieldset-price {
  margin-bottom: 45px;
}

.product-filter .fieldset-manufacturer {
  margin-bottom: 41px;
}

.product-filter fieldset:last-of-type {
  margin-bottom:76px;
}

.product-filter legend {
  margin: 0;
  margin-bottom: 15px;

  font-size: 17px;
  font-weight: 700;
  color: #000000;
}

.fieldset-price legend {
  margin-bottom: 17px;
}

.toggle-price {
  position: relative;
  width: 220px;
  height: 80px;
  margin-bottom: 9px;

  background-color: #f7f3ec;
  border-radius: 3px;
}

.toggle-price .bar {
  position: absolute;
  width: 180px;
  height: 2px;
  top: 39px;
  left: 20px;

  background-color: #d7dcde;
}

.toggle-price .bar:before {
  content: "";

  position: absolute;
  width: 160px;
  height: 2px;

  background-color: #00ca74;
}

.toggle-price .toggle-start,
.toggle-price .toggle-end {
  position: absolute;
  width: 4px;
  height: 4px;

  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px #e0ddd8;
  background-color: #ababab;
}

.toggle-price .toggle-start {
  top: 30px;
  left: 20px;
}

.toggle-price .toggle-end {
  top: 30px;
  right: 40px;
}

.range-price {
  display: flex;
}

.range-price input[type="text"] {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 95px;
  height: 38px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  text-align: center;
  padding-left: 10px;
  padding-right: 5px;

  border: none;
  background-color: #f7f3ec;
}

.range-price li:first-child {
  position: relative;
  margin-right: 30px;
}

.range-price li:first-child:after {
  content: "";

  position: absolute;
  display: block;
  width: 10px;
  height: 1px;
  right: -20px;
  top: 19px;

  background-color: #444444;
}

.product-filter ul {
  padding: 0;
  margin: 0;

  list-style: none;
}

.product-filter .filter-option {
  padding-left: 35px;
}

.product-filter .filter-option:not(:last-child) {
  margin-bottom: 16px;
}

.product-filter label {
  font-size: 15px;
  line-height: 20px;
}

.filter-option input[type="checkbox"] + label,
.filter-option input[type="radio"] + label {
  position: relative;
}

.filter-option input[type="checkbox"] + label:before {
  content: "";

  position: absolute;
  display: block;
  width: 23px;
  height: 23px;
  top: -2px;
  left: -35px;

  opacity: 0.78;
  background: url("../img/checkbox-off.svg");
  fill: #b5b5b5;
 }

.filter-option input[type="checkbox"]:checked + label:before {
  background: url("../img/checkbox-on.svg");
}

.filter-option input[type="checkbox"] + label:hover:before,
.filter-option input[type="checkbox"] + label:focus:before {
  opacity: 1;
}

.filter-option input[type="checkbox"] + label:active:before {
  opacity: 0.3;
}

.filter-option input[type="radio"] + label:before {
  content: "";

  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  top: -2px;
  left: -36px;

  opacity: 0.78;
  background: url("../img/radio-off.svg");
}

.filter-option input[type="radio"]:checked + label:before {
  background: url("../img/radio-on.svg");
}

.filter-option input[type="radio"] + label:hover:before,
.filter-option input[type="radio"] + label:focus:before {
  opacity: 1;
}

.filter-option input[type="radio"] + label:active:before {
  opacity: 0.3;
}

.product-filter button {
  margin-right: 80px;
  padding: 10px 39px 8px 38px;

  font: inherit;
  color: #000000;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  border: solid 1px #e5e5e5;
  border-radius: 3px;
  background-color: #ffffff;
}

.sorting {
  display: flex;
  margin-bottom: 20px;
  padding: 7px 5px 7px 19px;

  font-size: 13px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;

  background-color: #f7f3ec;
  border-radius: 3px;
}

.sorting h2 {
  margin: 0;
  margin-right: 143px;

  font-size: 13px;
  font-weight: 400;
}

.sorting a {
  color: rgba(0,0,0,0.3);

  background-image: linear-gradient(to right, #ee3643 50%, transparent 50%);
  background-position: 0 1.45em;
  background-repeat: repeat-x;
  background-size: 2px 1px;
}

.sorting a:focus,
.sorting a:hover {
  color: rgb(0,0,0);

  background-image: linear-gradient(to right, #ee3643 50%, #ee3643 50%);
}

.sorting .active {
  color: #ee3643;

  background-image: none;
}

.sorting .active:focus,
.sorting .active:hover {
  color: #ee3643;
}

.sorting a:nth-of-type(1) {
  margin-right: 70px;
}

.sorting a:nth-of-type(2) {
  margin-right: 66px;
}

.sorting a:nth-of-type(3) {
  margin-right: 46px;
}

.sorting .direction {
  position: relative;

  margin-right: 0;
}

.sorting .direction:before {
  content: "";

  position: absolute;
  display: block;
  width: 11px;
  height: 10px;
  top: 7px;

  background: url("../img/icon-up-dir.svg") no-repeat;
}

.sorting .direction:hover:before,
.sorting .direction:focus:before {
  background: url("../img/icon-up-dir-hover.svg") no-repeat;
}

.sorting .direction.active:before {
  background: url("../img/icon-up-dir-active.svg") no-repeat;
}

.sorting .direction:last-of-type {
  transform: rotate(180deg);
}

.sorting .direction:nth-last-of-type(2) {
  margin-right: 32px;
}

.products-wrapper {
  flex-grow: 1;
}

.catalog-list {
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  margin-bottom: 59px;

  list-style: none;
}

.product {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 218px;
  min-height: 316px;

  text-align: center;

  border: solid 1px #e5e5e5;
}

.product .new-label {
  position: relative;
}

.new-label:before {
  content: "";

  position: absolute;
  z-index: 2;
  display: block;
  width: 60px;
  height: 59px;

  background: url("../img/new-flag.png");
}

.product .new-label:before {
  top: -317px;
  right: -1px;
}

.offer-item .new-label:before,
.category-item .new-label:before {
  top: 0;
  right: 0;
}

.pop-manufacturer-item .new-label:before {
  top: -1px;
  right: -1px;
}

.product:hover,
.product:focus {
  border: solid 1px #ffffff;
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.product .image {
  width: 218px;
  height: 170px;
}

.product .image img {
  max-width: 100%;
}

.product h3 {
  margin: 0;
  padding: 0 25px;
  margin-top: 9px;
  margin-bottom: 11px;
  line-height: 19px;
}

.catalog-item-type,
.catalog-item-model {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
}

.product del {
  min-height: 20px;
  padding-left: 2px;

  color: #999999;
  text-decoration: line-through;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}

.product .price {
  position: relative;
  width: 80px;
  padding: 10px 29px;
  margin-left: 42px;
  margin-right: auto;
  margin-bottom: 20px;

  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;

  background-color: #ee3643;
  border-radius: 3px;
}

.product .price:nth-child(4) {
  margin-top: 28px;
}

.product .price:nth-child(5) {
  margin-top: 8px;
}

.product .price:after {
  content: "";

  position: absolute;
  top: 0;
  right: -22px;

  width: 0;
  height: 0;

  border: 19px solid white;
  border-left-color: #ee3643;
}

.product .actions {
  display: none;
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  width: 218px;
  height: 170px;
  padding-top: 43px;
  padding-left: 41px;
  padding-right: 42px;

  background: #ffffff;
}

.product:hover .actions {
  display: block;
}

.button-cart {
  display: block;
  padding-top: 11px;
  padding-bottom: 9px;
  padding-left: 4px;
  margin-bottom: 8px;

  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;


  background-color: #63a63e;
  box-shadow: inset 0px -3px 0 0 #367315;
  border-radius: 3px;
}

.button-cart:hover,
.button-cart:focus {
  background-color: #5fbb2d;
}

.button-cart:active {
  background-color: #518534;
  box-shadow: none;
}

.button-bookmark {
  display: block;
  padding-top: 8px;
  padding-bottom: 6px;
  padding-left: 4px;

  color: #32425c;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: #ffffff;
  border: solid 3px #63a63e;
  border-radius: 3px;
}

.button-bookmark:hover,
.button-bookmark:focus {
  border: solid 3px #32425c;
}

.button-bookmark:active {
  color: rgba(50, 66, 92, 0.3);

  border: solid 3px rgba(50, 66, 92, 0.3);
}

.catalog-item:nth-child(3n+1) {
  margin-bottom: 20px;
}
.catalog-item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 67px;

  list-style: none;
}

.pagination-item a {
  padding: 9px 14px 10px 15px;

  font-size: 13px;
  font-family: "PT Sans", Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #000000;

  border: solid 1px #e5e5e5;
  border-radius: 3px;
}

.pagination-item:not(:last-child) {
  margin-right: 10px;
}

.pagination-item:first-child a,
.pagination-item:last-child a {
  padding-left: 31px;
  padding-right: 31px;
}

.about-products-category {
  background-color: #f4f7f9;
}

.pagination-item a:hover,
.pagination-item a:focus {
  border-color: #bdc6ca;
}

.pagination-item.active a {
  color: #ffffff;

  background-color: #ee3643;
  border-color: #ee3643;
}

.about-products-category .container {
  display: flex;
  flex-direction: column;
}

.about-products-category h2 {
  margin: 0;
  margin-top: 68px;
  margin-bottom: 29px;

  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.about-products-category p {
  margin: 0;
  margin-bottom: 68px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
}

/* FOOTER */
.footer-top {
  background-color: #32425c;
}

.footer-top .container {
  display: flex;
  justify-content: space-between;
  min-height: 193px;
}

.footer-logo {
  display: inline-block;
  padding: 20px 41px 12px 41px;
  margin-bottom: 33px;

  vertical-align: center;

  background-color: #ee3643;
  box-shadow: #b52933 0 5px;
}

.footer-top address,
.footer-top .phone {
  margin-left: 3px;

  font-style: normal;
  color: #f1f5f7;
  font-size: 18px;
  line-height: 24px;
}

.footer-navigation,
.footer-categories {
  display: flex;
  justify-content: flex-end;

  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-navigation {
  margin-top: 38px;
  margin-bottom: 34px;
}

.footer-navigation li:nth-child(2) {
  margin-left: 59px;
}

.footer-navigation li:nth-child(3) {
  margin-left: 58px;
}

.footer-navigation li:nth-child(4) {
  margin-left: 62px;
}

.footer-navigation li:nth-child(5) {
  margin-right: -1px;
  margin-left: 58px;
}

.footer-categories li:nth-child(2) {
  margin-left: 60px;
}

.footer-categories li:nth-child(3) {
  margin-left: 59px;
}

.footer-categories li:nth-child(4) {
  margin-left: 59px;
}

.footer-navigation,
.footer-navigation a {
  color: #f1f5f7;
  font-size: 18px;
  line-height: 24px;
}

.footer-categories,
.footer-categories a {
  color: #ffd180;
  font-size: 18px;
  line-height: 24px;
}

.footer-navigation a:hover,
.footer-navigation a:focus,
.footer-categories a:hover,
.footer-categories a:focus {
  text-decoration: underline;
}

.footer-navigation a:active,
.footer-categories a:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-bottom {
  background-color: #293449;
}

.footer-bottom .container {
  display: flex;
  flex-grow: 0;

  padding-top: 35px;
  padding-bottom: 30px;
}

.footer-copyright {
  width: 228px;
  box-sizing: content-box;
  margin: 0;
  margin-top: 2px;
  margin-left: 1px;
  margin-right: 161px;

  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
}

.social-list {
  display: flex;
  padding: 0;
  margin: 0;
  margin-right: 119px;

  list-style: none;
}

.social-list li {
  padding: 0;
  margin: 0;
  margin-right: 3px;
}

.social-list li:last-child {
  margin: 0;
}

.social-button {
  display: flex;
  width: 42px;
  height: 42px;

  color: #ffffff;

  background-color: #212a3a;
  border-radius: 50%;
}

.social-list li:nth-child(1) svg {
  margin-top: 13px;
  margin-left: 8px;
}

.social-list li:nth-child(2) svg {
  margin-top: 10px;
  margin-left: 15px;
}

.social-list li:nth-child(3) svg {
  margin-top: 10px;
  margin-left: 10px;
}

.social-button:hover,
.social-button:focus,
.social-button:active {
  background-color: #ee3643;
}

.mail-to {
  width: 135px;
  margin: 0;
  margin-top: 2px;
  margin-right: 53px;
}

.creators {
  width: 96px;
  margin: 0;
  margin-top: 2px;
}

.mail-to,
.creators {
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
}

.mail-to a,
.creators a {
  color: #ffd180;
}

.mail-to a:hover,
.mail-to a:focus,
.creators a:hover,
.creators a:focus {
  text-decoration: underline;
}

.mail-to a:active,
.creators a:active {
  text-decoration: none;
  color: #ee3643;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.vremenno-hidden {
  display: none;
}
