body {
  padding: 0;
  margin: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}


/* HEADER */
.header-top {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.header-top a {
  color: #ffffff;
}

.main-header-logo {
  background-color: #ee3643;
}

.main-header-logo:hover,
.main-header-logo:focus {
background-color: #ca2c37;
}

.main-header-logo:active {
background-color: #ba2732;
}

.search-form input[type="text"] {
  font: inherit;
  color: #ffffff;

  border: none;
  background-color: #293449;
}

.search-form input[type="text"]::placeholder {
  color: #ffffff;
}

.search-form input[type="text"]:hover {
  background-color: #212a3a;
}

.search-form input[type="text"]:focus {
  color: #000000;

  background-color: #ffffff;
}

.bookmark-button:hover,
.bookmark-button:focus,
.cart-button:hover,
.cart-button:focus {
  background-color: #212a3a;
}

.bookmark-button:active,
.cart-button:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}

.offer-button {
  background-color: #63a63e;
}

.offer-button:hover,
.offer-button:focus {
  background-color: #5fbb2d;
}

.offer-button:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #518534;
}

.bottom-header {
  background-color: #f4f7f9;
}

.bottom-header h1,
.bottom-header .site-heading {
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;

  color: #ee3643;
}

.bottom-header .phone {
  color: #e9292a;
  font-size: 21px;
  line-height: 21px;
  letter-spacing: 0.4px;

  border: solid 3px #ffffff;
}

.bottom-header address {
  font-style: normal;
  color: #32425c;
}

.user-navigation,
.site-navigation {
  list-style: none;
}

.login-button,
.registration-button,
.profile-button {
  color: #000000;
  font-size: 21px;
  line-height: 21px;

  background-color: #ffffff;
}

.login-button:hover,
.login-button:focus,
.registration-button:hover,
.registration-button:focus {
  color: #ee3643;
}

.login-button:active,
.registration-button:active,
.profile-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-menu-list {
  color: #32425c;
}

.user-menu-item:first-child {
  list-style: none;
}

.user-menu-item a {
  color: #32425c;
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
}

.user-menu-item a:hover,
.user-menu-item a:focus {
  color: #ee3643;
}

.user-menu-item a:active {
  color: rgba(50, 66, 92, 0.3);
}

.main-navigation {
  color: #ffffff;

  background-color: #32425c;
}

.site-navigation a {
  color: #ffffff;
  font-size: 17px;
  line-height: 17px;

  background-color: #32425c;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #293449;
}

.site-navigation a:active {
  background-color: #1d2739;
}

/* MAIN PAGE */
.index-columns {
  color: #000000;

  background-color: #ffffff;
}

.about-company h2,
.contacts h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-company p,
.contacts p {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.about-company ul {
  list-style: none;
}

.about-company li {
  font-size: 18px;
  line-height: 20px;
}

.button {
  font: inherit;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;

  background-color: #ee3643;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}



/* FOOTER */
.footer-top {
  background-color: #32425c;
}

.footer-logo {
  background-color: #ee3643;
}

.footer-top address,
.footer-top .phone {
  font-style: normal;
  color: #f1f5f7;
  font-size: 18px;
  line-height: 24px;
}

.footer-navigation,
.footer-categories {
  list-style: none;
}

.footer-navigation,
.footer-navigation a {
  color: #f1f5f7;
  font-size: 18px;
  line-height: 24px;
}

.footer-categories,
.footer-categories a {
  color: #ffd180;
  font-size: 18px;
  line-height: 24px;
}

.footer-navigation a:hover,
.footer-navigation a:focus,
.footer-categories a:hover,
.footer-categories a:focus {
  text-decoration: underline;
}

.footer-navigation a:active,
.footer-categories a:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-bottom {
  background-color: #293449;
}

.footer-copyright {
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
}

.social-list {
  list-style: none;
}

.social-button {
  color: #ffffff;

  background-color: #212a3a;
}

.social-button:hover,
.social-button:active {
  background-color: #ee3643;
}

.mail-to,
.creators {
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
}

.mail-to a,
.creators a {
  color: #ffd180;
}
